* {
  margin: 0 auto;  
  }
  body{
    background-color: bisque;
  }
  .box_title{
    width: 100vw;
    height: 10vh;
    position: relative;
    display: grid;
    background-color: black;
  }
  #title_main{
      position: absolute;
    top: 30%;
    left:11vh;
    color: red;
    
  }

  #logo{
    position: absolute;
    left: 0%;
    max-width: 5vw;
    height: 10vh;
  }
  .menu_main{
    display: flex;
    position: relative;
    list-style:none; 
  }
  .links{
    color: white;
    width: 4vw;
    padding: 0.05vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin: 0;
    border: solid #ffffff;
    margin: 0.1vw;
    justify-content: center
  }

    